# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you have configured
# for your project. These should be committed to source control to allow
# others to run your tests and debug the project.
# .vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/GeneratedConfig.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/linux/flutter/
**/macos/Flutter/ephemeral/
**/windows/flutter/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbol propagation service temporary files
/directory_lock

# Android related
**/android/**/generated/
**/android/gradle/
**/android/local.properties
**/android/project.properties
**/android/src/main/res/drawable-*/
**/android/src/main/res/raw/

# Web related
lib/generated_plugin_registrant.dart

# Coverage
coverage/
